
<div class="container">

  <div class="row col-md-6 p-3">
    <img src="./assets/images/logo.png">
  </div>
  <div class="row col-md-4 p-3">
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Renda mensual unitat familiar:</label>
    <small>Els ingressos familiars s’obtindran per la suma de les caselles 435 (base imposable general) i 460 (base imposable de l'estalvi) de la declaració de la renda corresponent a l'exercici 2019 de cadascun dels membres del nucli familiar.</small>
    <input class="form-control m-1" type="text" [(ngModel)]="C2">
    <br />
    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Membres de la unitat familiar:</label>
    <small>Inclou persones progenitores, germans/es, infants i persones majors d’edat amb discapacitat</small>
    Es consideren membres de la unitat familiar, a més de l'infant, els pares, mares, tutors/es o persones encarregades de la guarda i custòdia i germans/es solters/es menors de 25 anys que convisquin al mateix domicili en el moment de formalitzar la matrícula, i majors d'edat quan es tracti de persones amb discapacitat.
    <input class="form-control m-1" type="text" [(ngModel)]="C3">

    <br />
    <input type="checkbox" id="germans" name="germans" [(ngModel)]="germans"> L’infant tindrà, durant el curs escolar pel qual es matricula,
    Altres germans i/o germanes matriculats/des a Marrecs?
    <br />
    <input type="checkbox" id="discapacitat" name="discapacitat" [(ngModel)]="discapacitat"> L’infant tindrà, durant el curs escolar pel qual es matricula,
    Discapacitat o invalidesa d’algun membre del nucli familiar
    <br />
    <input type="checkbox" id="regim_acolliment" name="regim_acolliment" [(ngModel)]="regim_acolliment"> L’infant tindrà, durant el curs escolar pel qual es matricula,
    Infant en règim d'acolliment 10%
  </div>

  <br />Renda mensual equivalent = {{ C5().toFixed(2) }} €
  <br />quota personal escolarizacio = {{ D12() }} €
  <br />quota personal menjador complert = {{ D15() }} €
  <br />quota personal menjador lactants = {{ D16() }} €
  <br />quota berenar = {{ D17() }} €

  <br />servei acollida set a juny personal = {{ D20() }} €
  <br />servei acollida juliol personal = {{ D21() }} €

  <br />menjador 3 cops setmana complert = {{ D28() }} €
  <br />menjador 3 cops setmana lactants = {{ D29() }} €

  <br />menjador 2 cops setmana complert = {{ D31() }} €
  <br />menjador 2 cops setmana lactants = {{ D32() }} €

  <br />menjador 1 cops setmana complert = {{ D34() }} €
  <br />menjador 1 cops setmana lactants = {{ D35() }} €

  <br />esporadic menjador complert = {{ D38() }} €
  <br />esporadic menjador lactants = {{ D39() }} €
  <br />esporadic berenar = {{ D40() }} €
  <br />esporadic 30 mins = {{ D41() }} €


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

</div>