<input type="text" [(ngModel)]="C2">

<br />Renda mensual equivalent = {{ C5().toFixed(2) }} €
<br />quota personal escolarizacio = {{ D12() }} €
<br />quota personal menjador complert = {{ D15() }} €
<br />quota personal menjador lactants = {{ D16() }} €
<br />quota berenar = {{ D17() }} €

<br />servei acollida set a juny personal = {{ D20() }} €
<br />servei acollida juliol personal = {{ D21() }} €

<br />menjador 3 cops setmana complert = {{ D28() }} €
<br />menjador 3 cops setmana lactants = {{ D29() }} €

<br />menjador 2 cops setmana complert = {{ D31() }} €
<br />menjador 2 cops setmana lactants = {{ D32() }} €

<br />menjador 1 cops setmana complert = {{ D34() }} €
<br />menjador 1 cops setmana lactants = {{ D35() }} €

<br />esporadic menjador complert = {{ D38() }} €
<br />esporadic menjador lactants = {{ D39() }} €
<br />esporadic berenar = {{ D40() }} €
<br />esporadic 30 mins = {{ D41() }} €